<form action='/links' method='POST'>
  <input type="text" name="url" placeholder="url">
  <input type="text" name="title" placeholder='title'>
  <input type="text" name="tag" placeholder='tag'> #consider requiring input from user
  <input type="submit" value="Create link">
</form>
